<h5>
  *ngIf
</h5>
<!-- <div *ngIf="cursos.length > 0">
  Lista de Cursos
</div>
<div *ngIf="cursos.length == 0">
  Não existem Cursos na lista
</div>

<div *ngIf="mostrarCursos">
  Lista de Cursos
</div>
<div *ngIf="!mostrarCursos">
  Não existem Cursos na lista
</div> -->

<div [hidden]="mostrarCursos">
  Lista de Cursos
</div>
<div [hidden]="!mostrarCursos">
  Não existem Cursos na lista
</div>
<!-- variável boolena mostrarCursos se for true exibe o objeto, se for false não exibe -->

<button class="btn btn-success text-light" >
    <span [hidden]="!mostrarCursos" (click)="onMostrarCursos()">Mostrar Cursos</span>
    <span [hidden]="mostrarCursos" (click)="onMostrarCursos()">Esconder Cursos</span>
  </button>
  <!-- event binding click chama função onMostrarCursos que troca o valor da variável booleana mostrarCursos  -->